<div class="container" *ngIf="isAvail; else message" >
  <div class="modal-content">
    <div class="admin-modal-body" style="color: #196f77;">
      <div style="height:500px;overflow: auto;">
        <div class="row" *ngFor="let qna of results">
          <div class="col-sm-12">{{qna?.qNo}}. {{qna?.question}}</div>
          <div class="col-sm-12" *ngFor="let opt of qna.options">
            <div class="col-sm-12">
              {{opt?.id}}. {{opt?.value}} <span *ngIf="qna?.ans.includes(opt?.id)"> <i class="fas fa-check"></i></span>
            </div>
          </div>
          <div class="col-sm-12 border round" *ngIf="qna?.remarks">
            <i class="fas fa-info-circle"></i>{{qna?.remarks}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #message>
  <div class="container" style="margin-top:40px;margin-bottom:40px;">
    <div class="col-sm-12">
      <p>This Exam doesn't exist!!<br/> Please contact Your examiner.</p>
    </div>
  </div>
</ng-template>
