
  
  .admin-input {
      width: 100%;
      max-width: 500px;
  }
  .admin-input-q {
      width: 100%;
      max-width: 500px;
      height: 200px
  }
  .admin-input-qr {
    width: 100%;
    max-width: 500px;
    min-height: 500px
  }
  .admin-input-r {
      width: 100%;
      max-width: 500px;
      height: 500px;
      max-height:500px;
  }
  .adm-button {
    margin-top: 5px;
    max-width: 500px;
  }
  
  
  h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  
  #previewExam {
    height:335px;
    width:100%;
    max-width:500px;
  }
  
  .admin-exam-cell{
    width:165px;
  }
  .admin-exam-cell-s{
    width:90px;
  }
  .admin-exam-cell-vs{
    width:50px;
  }
  .admin-exam-table {
    margin-left:20px;
    width: 99%;
    min-height:300px;
  }
  