<app-page-header></app-page-header>
  <div class="col-sm-12">
      <pre class="preeque">
Que:Start question with (Que:/que:/q:/Q:), Question can be multiline as sample herre. 
Start answer with (Ans:/ans:/A:/a:), Options with (Opt:/opt:/O:/o:) and remarks with 
(Rem:/rem:/R:/r:).All must be in sequense (que,opt,ans,rem). Are you agree with this?
Opt:yes,no,both,none,anyone
Ans:both,none
Rem: For multi choise use multiple answer with comma (,) separated</pre>
    <textarea class="admin-input-qr form-control" [(ngModel)]='rawquestion' placeholder="Question"></textarea>
  </div>
  <div class="col-sm-12 btn-group adm-button">
    <button type="button"  class="btn btn-info" (click)="previewQuestions()">Preview</button>
    <button type="button" class="btn btn-info" (click)="clear()">Clear</button>
  </div>

<div bsModal #previewModel="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="admin-modal-body" style="color: #196f77;">
        <div style="height:500px;overflow: auto;">
          <div class="row" *ngFor="let qna of qnAs">
            <div class="col-sm-12">{{qna?.qNo}}. {{qna?.question}}</div>
            <div class="col-sm-12" *ngFor="let opt of qna.options">
              <div class="col-sm-12">
                {{opt?.id}}. {{opt?.value}} <span *ngIf="qna?.ans.includes(opt?.id)"> <i class="fas fa-check"></i></span>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="qna?.remarks">
              Remark: {{qna?.remarks}}
            </div>
          </div>
        </div>
        <div class="col-sm-12 btn-group adm-button">
          <button type="button" class="btn btn-info" (click)="submit()">Save</button>
          <button type="button" class="btn btn-info" (click)="previewModel.hide()">Cancel</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>
