<div class="container">
  <div class="row userInfo">
      <img src="{{schoolDetails?.image}}" class="main-img main-img-height" alt="Cinque Terre"/>
  </div>
  <div class="row mt-3 center author-img-center">
    <h4>{{schoolDetails?.title}}</h4>
  </div>

  <div class="row mt-3 userInfo">
    <div *ngFor="let teacher of schoolDetails?.teachers">
      <div class="card">
        <div class="portfolio-item-caption d-flex author-img-center">
          <div><img src="{{teacher?.image}}" class="img-circle author-img" alt="Cinque Terre"/></div>
        </div>
        <div>
          {{teacher?.title}}
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3 userInfo">
    <div class="divider-custom-line"></div>
  </div>
  <div class="row mt-3 userInfo">
    <div class="btn-group" style="margin-left:10px;">
      <a  (click)= "getExamTable()" class="btn btn-info btnmargin" role="button">Exam-Table</a>
      <a  (click)= "getResult()" class="btn btn-info btnmargin btn-disabled" role="button">Result</a>

    </div>
  </div>

  <div bsModal #submitStudentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="submitStudentModal.hide()" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-left" style="color: #196f77;">
          Class :
          <select class="form-control" name="clazz" id="clazz"  [(ngModel)]='studentclazz'>
            <option *ngFor="let cl of lstClass" value="{{cl?.id}}">
              {{cl?.name}}
            </option>
          </select>
          Roll No:
          <input class="form-control" type="text" name="rollNo" id="rollno" [(ngModel)]='studentrollno'>
          Password:
          <input class="form-control" type="password" name="password" id="password" [(ngModel)]='studentPassword'>
          <br/>
          <button type="button" class="btn btn-primary" (click)="studentSubmit()">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</div>

<div bsModal #profileMsgModel="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <h4>Invalid Credential OR Invalidated by Admin.</h4>

        <button type="button" class="btn btn-default" (click)="invalidAndRedirect()" style="margin-left: 17px;">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
