
<div class="container">

  <div *ngFor="let tt of timeTableDetails?.timetables" class="timehead">
    <h3 class="noclass">
      CLASS - {{tt?.clazz}}</h3>
    <div class="timetablemain">
        <div class="timetable_xii1">
             <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
               <div class="sub_detail">
                 <h3>Subject</h3>
               </div>
             </div>
             <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
              <div class="sub_detail">
                <h3>Date</h3>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
              <div class="sub_detail">
                <h3>Time</h3>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
              <div class="sub_detail">
                <h3>Action</h3>
              </div>
            </div>
        </div>
        <div *ngFor="let st of tt?.subTime" class="timetable_xii tableti_8">
          <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
            <div class="sub_detail">
              <p>{{st?.sub}}</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
             <div class="sub_detail">
               <p>{{st?.date}}</p>
             </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
             <div class="sub_detail">
               <p>{{st?.time}}</p>
             </div>
          </div>
           <div class="col-md-3 col-sm-3 col-xs-3 timetable_pd">
             <div *ngIf="st.action!='false'" class="sub_detail">
              <button type="button" (click)= "showExam(tt.clazz,st.examId,st.action)" class="btn btn-info btn_join">{{st.action}}</button>
             </div>
           </div>
        </div>
    </div>
  </div>
</div>

<div bsModal #submitModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <h4>{{modelMsg}}</h4>

        <button type="button" class="btn btn-default" (click)="invalidAndRedirect()" style="margin-left: 17px;">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
