<app-page-header></app-page-header>
<div class="rounded border">
  <div class="col-sm-12 border bg-primary">Admin Home</div>
  <div class="col-sm-12">
    &nbsp;
  </div>
  <div class="col-sm-12">
    <div class="col-sm-3 btn-group">
        <button type="button"  class="btn btn-info" (click)="routerLink('/ng/admin/paper')">Create Paper</button>
    </div>
  </div>
  <div class="col-sm-12">
    &nbsp;
  </div>
  <div class="col-sm-12">
    <div class="col-sm-3 btn-group">
        <button type="button"  class="btn btn-info" (click)="routerLink('/ng/admin/exam')">Set Exam</button>
    </div>
  </div>
  <div class="col-sm-12">
    &nbsp;
  </div>
  <div class="col-sm-12">
    <div class="col-sm-3 btn-group">
        <button type="button"  class="btn btn-info" (click)="routerLink('/ng/admin/user')">Manage User</button>
    </div>
  </div>
  <div class="col-sm-12">
    &nbsp;
  </div>
  <div class="col-sm-12">
    <div class="col-sm-3 btn-group">
        <button type="button"  class="btn btn-info" (click)="routerLink('/ng/admin/result')">Result</button>
    </div>
  </div>
  <div class="col-sm-12">
    &nbsp;
  </div>
  
</div>

