<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Content-->
      <div class="row">
         <div class="col-lg-12 ml-auto"><h3> what we do </h3></div>
      </div>
      <div class="row">
          <div class="col-lg-4 mr-auto"><p class="lead">
            <strong>ExamsPrep</strong>
            विभिन्न शिक्षकों और स्कूलों द्वारा आयोजित सभी परीक्षाओं को दर्शाता है। सभी पात्र छात्र अपने बेहतर भविष्य के लिए इस परीक्षा का हिस्सा बन सकते हैं।
          </p><p>आपके बेहतर भविष्य के लिए हमारा प्रयास जारी है।</p></div>
      </div>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="card">

          <div class="portfolio-item-caption d-flex">
            <div><img src="assets/images/me.png" class="img-circle author-img" alt="Shailendra Shail"/></div>
          </div>
          <div>
            Shailendra Shail
          </div>
          <div>
            (Architect)
          </div>
        </div>
        <div class="card">
          <div class="portfolio-item-caption d-flex">
            <div><img src="assets/images/sarvesh.png" class="img-circle author-img" alt="Sarvesh Kumar"/></div>
          </div>
          <div>
            Sarvesh Kumar
          </div>
          <div>
            (Tech Lead)
          </div>
        </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">

      </div>
  </div>
</section>
