<section class="page-section bg-primary portfolio fullpage" id="portfolio">
  <div class="container">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><!-- Masthead Heading-->

    </div>

    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><!-- Masthead Heading-->
      <h3>Choose Schools </h3>
    </div>
    <!-- Portfolio Grid Items-->
    <div *ngIf="!isEmpty">
      <div class="row"  *ngFor="let resultvalue of results">
        <!-- Portfolio Item 1-->
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <a routerLink="/ng/sm/{{resultvalue.profileId}}"><img src="{{resultvalue.image}}" class="img-circle" alt="Cinque Terre" style="height: 100px;"/></a>
        </div>
      </div>
    </div>
    <div *ngIf="isEmpty">
      <a routerLink="/ng/contact"><img class="img-fluid" src="assets/images/sm/myschool/default.png" alt="" /></a>
    </div>
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><!-- Masthead Heading-->
      <h3>&nbsp;</h3>
    </div>

  </div>
</section>
